**/.gradle/
**/.idea/
**/build/
**/classes/
**/out/
**/gradle*
**/.DS_Store
**/*.iml
**/*.ipr
**/*.iws
src/main/resources/public
**/node_modules/
**/*.log*
ui/typings*
ui/web/**/*.js*
!*tsconfig.json
